html
    head
        title= title
        
    body
        h1= message
        form(action="/" )
            input(type="text" name="username" placeholder="Masukkan Nama Anda") 
            input(type="submit" value="Ok") 

        h3= name
        