<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error: Keranjang Kosong</title>
</head>

<body>
    <b> Maaf, Keranjang masih Kosong.</b>
</body>

</html>